In [1]:
import pandas as pd
print('Version: ', pd.__version__)

Version:  2.2.3

In [2]:
list = [1,4,3,2,5,32,4]

myseries = pd.Series(list)
print(myseries)
print('Element at index 5 is: ',myseries[5])

0     1
1     4
2     3
3     2
4     5
5    32
6     4
dtype: int64
Element at index 5 is:  32

In [3]:
# Creating own labels
a = [1,2,3]

myvar = pd.Series(a, index = ["a", "b", "c"])
print(myvar)
print(myvar["b"])

a    1
b    2
c    3
dtype: int64
2

In [4]:
# Dictionary in series
employee = {
    "id" : 1,
    "name" : "Harikesh Kumar Sharma",
    "email" : "sharma7@gmail.com",
    "address" : "Uttar Pradesh",
    "salary" : 1000000
}

data = pd.Series(employee)

print(data)
print("id", data["id"])
print("name", data["name"])

id                             1
name       Harikesh Kumar Sharma
email          sharma7@gmail.com
address            Uttar Pradesh
salary                   1000000
dtype: object
id 1
name Harikesh Kumar Sharma

In [5]:
# Dataframe Demo
# Simple dataframe demo below
data = {
    "Name" : ["Harikesh", "Charanjeet", "Mohit"],
    "Age" : [21,23,42],
    "City" : ["UP", "JK", "GJ"]
}

df = pd.DataFrame(data)
print(df)

         Name  Age City
0    Harikesh   21   UP
1  Charanjeet   23   JK
2       Mohit   42   GJ

In [6]:
# locking the row
print("First row: ")
print(df.loc[0])
print(df.loc[[0,1]])
print(df.iloc[0,1])

First row:
Name    Harikesh
Age           21
City          UP
Name: 0, dtype: object
         Name  Age City
0    Harikesh   21   UP
1  Charanjeet   23   JK
21

In [10]:
user_data = {
    "Name" : ["Harikesh", "Charanjeet", "Mohit"],
    "Age" : [21,23,42]
}
df1 = pd.DataFrame(user_data, index = ["user1","user2","user3"])

print(df1.loc["user3"])
print(df1)

Name    Mohit
Age        42
Name: user3, dtype: object
             Name  Age
user1    Harikesh   21
user2  Charanjeet   23
user3       Mohit   42

In [13]:
user_data = {
    "Name" : ["Harikesh", "Charanjeet", "Mohit"],
    "Age" : [21,23,42],
    "Salary" : [100000,21002,23021],
    "Email" : ["hks@z.com","cs@z.com","mp@z.com"]
}
df1 = pd.DataFrame(user_data, columns = ["Age" ,"Email","Name"])
print(df1)

   Age      Email        Name
0   21  hks@z.com    Harikesh
1   23   cs@z.com  Charanjeet
2   42   mp@z.com       Mohit

In [15]:
# Creating DF derom list of lists

data = [
    ["Harikesh", 21, "UP"],
    ["Charan", 21, "JK"],
    ["Mohit", 21, "GJ"],
    ["Sunny", 21, "HR"]
]

df = pd.DataFrame(data, columns = ["Name", "Age", "City"])
print(df)

       Name  Age City
0  Harikesh   21   UP
1    Charan   21   JK
2     Mohit   21   GJ
3     Sunny   21   HR

In [19]:
# Getting data from external resources

student_data = pd.read_csv("student_data.csv")
print(student_data) # printing entire data frame

     id             name                      email       gender  grade
0     1   Humfrey Wrench         hwrench0@opera.com         Male    9.5
1     2  Roderic Dwelley      rdwelley1@spotify.com         Male    7.0
2     3   Wilton Ruspine         wruspine2@ucsd.edu         Male    2.2
3     4      Ely Tremmel    etremmel3@xinhuanet.com         Male    4.5
4     5  Farris Luckcock    fluckcock4@redcross.org      Agender    5.6
..  ...              ...                        ...          ...    ...
95   96  Cassey Fenemore  cfenemore2n@tuttocitta.it       Female    1.4
96   97  Sheffield Ivain         sivain2o@google.cn  Genderqueer    6.8
97   98    Clive MacGahy      cmacgahy2p@senate.gov         Male    2.2
98   99     Arel Carrack   acarrack2q@biglobe.ne.jp         Male    4.5
99  100  Allsun Shakesby   ashakesby2r@symantec.com  Genderfluid    3.6

[100 rows x 5 columns]

In [23]:
# directly taking tabular structure
student_data.head()

   id             name                    email   gender  grade
0   1   Humfrey Wrench       hwrench0@opera.com     Male    9.5
1   2  Roderic Dwelley    rdwelley1@spotify.com     Male    7.0
2   3   Wilton Ruspine       wruspine2@ucsd.edu     Male    2.2
3   4      Ely Tremmel  etremmel3@xinhuanet.com     Male    4.5
4   5  Farris Luckcock  fluckcock4@redcross.org  Agender    5.6

In [25]:
print(student_data.head())

   id             name                    email   gender  grade
0   1   Humfrey Wrench       hwrench0@opera.com     Male    9.5
1   2  Roderic Dwelley    rdwelley1@spotify.com     Male    7.0
2   3   Wilton Ruspine       wruspine2@ucsd.edu     Male    2.2
3   4      Ely Tremmel  etremmel3@xinhuanet.com     Male    4.5
4   5  Farris Luckcock  fluckcock4@redcross.org  Agender    5.6

In [27]:
print(student_data.to_string())

     id                   name                             email       gender  grade
0     1         Humfrey Wrench                hwrench0@opera.com         Male    9.5
1     2        Roderic Dwelley             rdwelley1@spotify.com         Male    7.0
2     3         Wilton Ruspine                wruspine2@ucsd.edu         Male    2.2
3     4            Ely Tremmel           etremmel3@xinhuanet.com         Male    4.5
4     5        Farris Luckcock           fluckcock4@redcross.org      Agender    5.6
5     6        Jamaal Thormann           jthormann5@netvibes.com         Male    5.7
6     7          Egbert Poplee                epoplee6@google.de   Polygender    4.9
7     8       Alyssa Bennedsen             abennedsen7@google.ca       Female    2.9
8     9         Donna Kienlein         dkienlein8@techcrunch.com       Female    3.8
9    10          Trudi Scherer               tscherer9@hexun.com       Female    9.3
10   11          Aurel Caffrey         acaffreya@dagondesign.com       Female    3.9
11   12         Lazar Lumsdale            llumsdaleb@tinyurl.com         Male    3.5
12   13           Ted Woollett           twoollettc@newsvine.com       Female    8.8
13   14        Andonis Sawfoot                asawfootd@1und1.de         Male    5.5
14   15             Sid Nassie             snassiee@yolasite.com         Male    3.8
15   16          Rick Ausiello       rausiellof@businesswire.com         Male    5.2
16   17         Marshall Blyth                  mblythg@digg.com         Male    9.3
17   18           Katya Merkle               kmerkleh@google.com       Female    6.0
18   19           Sayre Goozee              sgoozeei@arizona.edu         Male    7.6
19   20            Bobbe Ugoni           bugonij@theatlantic.com       Female   10.0
20   21         Ichabod Ingold            iingoldk@wikipedia.org     Bigender    4.9
21   22         Duncan Heisler             dheislerl@reuters.com         Male    7.1
22   23        Ulises Lipprose             ulipprosem@tripod.com         Male    5.0
23   24         Gaston Carbert            gcarbertn@vkontakte.ru         Male    4.3
24   25            Velma Lower             vlowero@canalblog.com     Bigender    1.8
25   26         Vivyan Jurisic               vjurisicp@google.pl       Female    9.1
26   27       York Du Plantier               yduq@purevolume.com         Male    9.4
27   28         Thibaud Subhan          tsubhanr@yellowpages.com         Male    7.3
28   29          Minda Duckitt            mduckitts@china.com.cn       Female    7.6
29   30           Bryn Perfitt                bperfittt@imdb.com         Male    4.1
30   31       Thatcher Milksop             tmilksopu@nbcnews.com         Male    9.6
31   32         Bail Partleton         bpartletonv@hostgator.com         Male    6.6
32   33     Wandie Kitchenside       wkitchensidew@discovery.com       Female    3.8
33   34         Althea Eliyahu               aeliyahux@wiley.com       Female    7.1
34   35          Gideon Scarre       gscarrey@simplemachines.org         Male    8.2
35   36  Hildagarde Littlewood     hlittlewoodz@reverbnation.com       Female    6.8
36   37           Decca Barrim         dbarrim10@theatlantic.com         Male    5.1
37   38               Joy Adie                    jadie11@360.cn       Female    5.9
38   39          Michel Pervew        mpervew12@biblegateway.com         Male    7.4
39   40          Kalila Boodle            kboodle13@columbia.edu       Female    2.1
40   41          Neils Bigrigg             nbigrigg14@google.com         Male    2.9
41   42          Perice Aingel               paingel15@prlog.org         Male    1.8
42   43          Henrieta Bone                  hbone16@youtu.be       Female    3.8
43   44        Isa Mitchelhill      imitchelhill17@bloglovin.com       Female    2.7
44   45             Gael Grigs            ggrigs18@blinklist.com         Male    3.5
45   46      Papageno Brookzie          pbrookzie19@trellian.com         Male    9.5
46   47           Eada Cockson                ecockson1a@umn.edu       Female    3.2
47   48        Stephi De Fries              sde1b@indiatimes.com       Female    1.2
48   49        Vonni Spellward             vspellward1c@ox.ac.uk       Female    8.7
49   50          Harper Barlas                hbarlas1d@furl.net         Male    2.3
50   51          Joli Paulisch            jpaulisch1e@flickr.com       Female    9.5
51   52       Billye McQuirter      bmcquirter1f@liveinternet.ru       Female    9.9
52   53        Donnell Caseley                dcaseley1g@cnn.com         Male    9.9
53   54          Gideon Glynne         gglynne1h@paginegialle.it   Non-binary    9.0
54   55          Godiva Fenech         gfenech1i@paginegialle.it       Female    3.2
55   56           Sarina Rojas        srojas1j@howstuffworks.com       Female    4.6
56   57      Pepito Yellowlees        pyellowlees1k@netscape.com         Male    2.5
57   58            Alla Pouton               apouton1l@wiley.com  Genderfluid    3.3
58   59          Genia Hubbins               ghubbins1m@army.mil       Female    1.0
59   60         Quintina Wills                qwills1n@webmd.com       Female    2.4
60   61        Grannie Volette      gvolette1o@blogtalkradio.com         Male   10.0
61   62         Simone Gettone                sgettone1p@nps.gov         Male    5.2
62   63        Neill Aronowicz              naronowicz1q@last.fm         Male    2.5
63   64              Sam Extal             sextal1r@amazon.co.uk         Male    8.3
64   65          Kerrie Pariss           kpariss1s@wikimedia.org   Polygender    5.7
65   66       Crosby Maletratt            cmaletratt1t@google.it         Male    6.1
66   67          Mandy Minelli          mminelli1u@microsoft.com       Female    5.8
67   68        Augustin Sharer               asharer1v@google.pl         Male    1.4
68   69          Zollie Dytham                zdytham1w@ucsd.edu  Genderfluid    3.8
69   70         Burtie Linbohm            blinbohm1x@skyrock.com         Male    8.7
70   71         Mirilla Astill                mastill1y@wisc.edu       Female    6.4
71   72       Natalie Thomtson        nthomtson1z@eventbrite.com       Female    9.6
72   73  Papagena Krzysztofiak       pkrzysztofiak20@tinyurl.com       Female    4.1
73   74       Avigdor Yearsley           ayearsley21@harvard.edu         Male    8.8
74   75          Leoine Hempel  lhempel22@nationalgeographic.com       Female    6.3
75   76       Lucias Gaynsford                lgaynsford23@51.la         Male    4.9
76   77            Nate Haldin                 nhaldin24@psu.edu         Male    2.4
77   78           Winston Shee            wshee25@slideshare.net         Male    1.4
78   79     Cherianne Rickeard          crickeard26@hubpages.com       Female    9.8
79   80           Fina Rawlins           frawlins27@marriott.com       Female    6.9
80   81          Nerte Allport         nallport28@wikispaces.com       Female    1.2
81   82        Oberon Longfoot         olongfoot29@indiegogo.com         Male    9.6
82   83          Spike Mileham           smileham2a@virginia.edu         Male    1.1
83   84        Hermine Readett              hreadett2b@sogou.com       Female    6.6
84   85          Neils Telford            ntelford2c@squidoo.com         Male    9.8
85   86        Jasmin Billyard       jbillyard2d@theatlantic.com       Female    8.9
86   87      Rollin Spellworth             rspellworth2e@hhs.gov         Male    8.9
87   88     Freedman Wardingly         fwardingly2f@addtoany.com         Male    9.4
88   89       Dinah MacNeillie            dmacneillie2g@java.com       Female    4.3
89   90          Roseann Blaze              rblaze2h@cbsnews.com       Female    2.5
90   91          Flossie Jacke                   fjacke2i@hp.com       Female    1.4
91   92       Bella Langworthy         blangworthy2j@cornell.edu       Female    6.4
92   93       Hillard Preskett           hpreskett2k@smugmug.com         Male    2.7
93   94    Fenelia Palphramand             fpalphramand2l@hp.com       Female    3.7
94   95         Mischa Gantley           mgantley2m@redcross.org         Male    2.0
95   96        Cassey Fenemore         cfenemore2n@tuttocitta.it       Female    1.4
96   97        Sheffield Ivain                sivain2o@google.cn  Genderqueer    6.8
97   98          Clive MacGahy             cmacgahy2p@senate.gov         Male    2.2
98   99           Arel Carrack          acarrack2q@biglobe.ne.jp         Male    4.5
99  100        Allsun Shakesby          ashakesby2r@symantec.com  Genderfluid    3.6

In [30]:
print(student_data.head(7))

   id             name                    email      gender  grade
0   1   Humfrey Wrench       hwrench0@opera.com        Male    9.5
1   2  Roderic Dwelley    rdwelley1@spotify.com        Male    7.0
2   3   Wilton Ruspine       wruspine2@ucsd.edu        Male    2.2
3   4      Ely Tremmel  etremmel3@xinhuanet.com        Male    4.5
4   5  Farris Luckcock  fluckcock4@redcross.org     Agender    5.6
5   6  Jamaal Thormann  jthormann5@netvibes.com        Male    5.7
6   7    Egbert Poplee       epoplee6@google.de  Polygender    4.9

In [31]:
print(student_data.head(2))

   id             name                  email gender  grade
0   1   Humfrey Wrench     hwrench0@opera.com   Male    9.5
1   2  Roderic Dwelley  rdwelley1@spotify.com   Male    7.0

In [34]:
print(student_data.tail(2))

     id             name                     email       gender  grade
98   99     Arel Carrack  acarrack2q@biglobe.ne.jp         Male    4.5
99  100  Allsun Shakesby  ashakesby2r@symantec.com  Genderfluid    3.6

In [37]:
# No. of Rows and Columns
print(student_data.shape)

(100, 5)

In [39]:
# Summary of dataframe
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    int64
 1   name    100 non-null    object
 2   email   100 non-null    object
 3   gender  100 non-null    object
 4   grade   100 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB
None

In [42]:
print(student_data.describe())

               id       grade
count  100.000000  100.000000
mean    50.500000    5.522000
std     29.011492    2.797242
min      1.000000    1.000000
25%     25.750000    3.200000
50%     50.500000    5.200000
75%     75.250000    8.225000
max    100.000000   10.000000

In [44]:
student_data.describe()

               id       grade
count  100.000000  100.000000
mean    50.500000    5.522000
std     29.011492    2.797242
min      1.000000    1.000000
25%     25.750000    3.200000
50%     50.500000    5.200000
75%     75.250000    8.225000
max    100.000000   10.000000

In [46]:
# Selecting single column
print(student_data[['id','name','grade']].head())

   id             name  grade
0   1   Humfrey Wrench    9.5
1   2  Roderic Dwelley    7.0
2   3   Wilton Ruspine    2.2
3   4      Ely Tremmel    4.5
4   5  Farris Luckcock    5.6

In [48]:
student_data[['id','name','grade']].head()

   id             name  grade
0   1   Humfrey Wrench    9.5
1   2  Roderic Dwelley    7.0
2   3   Wilton Ruspine    2.2
3   4      Ely Tremmel    4.5
4   5  Farris Luckcock    5.6

In [51]:
student_data['grade'].describe() # describe only for grade column

count    100.000000
mean       5.522000
std        2.797242
min        1.000000
25%        3.200000
50%        5.200000
75%        8.225000
max       10.000000
Name: grade, dtype: float64

In [52]:
# ACTIVITY !!! ---> ANOTHER FILE BRO