In [1]:
import numpy as np
print(np.__version__)

2.2.3

In [6]:
# Array Creation
lst = [10,20,30,40,50,70]
arr = np.array(lst)
print(arr)
print('Type', type(arr))
print('Shape', arr.shape)

[10 20 30 40 50 70]
Type <class 'numpy.ndarray'>
Shape (6,)

In [7]:
arr1 = np.array([[1,2,3],[4,5,6]])
print(arr1)

[[1 2 3]
 [4 5 6]]

In [8]:
print(arr1.shape)
print(arr1.size)

(2, 3)
6

In [18]:
# Generating arrays
print(np.zeros((2,3)))
print(np.ones((2,3)))

arr3 = np.arange(1,10,2)
print(arr3)

[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]]
[1 3 5 7 9]

In [24]:
sample = np.array([np.arange(1,10,3), np.arange(2,10,3)])
print(sample)

[[1 4 7]
 [2 5 8]]

In [26]:
arr3 = np.arange(1,10,3)
arr4 = np.arange(2,10,3)
print(arr3 + arr4)
print(arr3 * arr4)
print(arr3 ** arr4)

[ 3  9 15]
[ 2 20 56]
[      1    1024 5764801]

In [29]:
# Example
purchases = np.array([
    [200, 150, 100],
    [300, 250, 400],
    [100, 200, 150],
    [500, 600, 550],
    [50, 80, 100],
])

total_spend = purchases.sum(axis = 1)

average_spend = purchases.mean(axis = 1)

print('Total Spend: ', total_spend)
print('Average Spend: ', average_spend)

Total Spend:  [ 450  950  450 1650  230]
Average Spend:  [150.         316.66666667 150.         550.          76.66666667]

In [34]:
A = np.array([[2,3],[4,1]])
B = np.array([8, 10])

solution = np.linalg.solve(A,B)
print("Solution (x,y): ", solution)

Solution (x,y):  [2.2 1.2]

In [41]:
# Sales Example Assignment
sales = np.array([150, 200, 250, 300, 350, 400, 450, 500, 550, 600])

total_sales = np.sum(sales)
average_sales = np.mean(sales)
highest_sales = np.max(sales)
lowest_sales = np.min(sales)

print(f"Total Sales: {total_sales}")
print(f"Average Sales: {average_sales}")
print(f"Highest Sales: {highest_sales}")
print(f"Lowest Sales: {lowest_sales}")

Total Sales: 3750
Average Sales: 375.0
Highest Sales: 600
Lowest Sales: 150

In [42]:
days_above_average = np.where(sales > average_sales)[0] + 1
print(f"Days with sales above the average: {days_above_average}")

increased_sales = sales * 1.1
print(f"Sales after 10% increase: {increased_sales}")

sorted_sales = np.sort(sales)
print(f"Sales sorted in ascending order: {sorted_sales}")

Days with sales above the average: [ 6  7  8  9 10]
Sales after 10% increase: [165. 220. 275. 330. 385. 440. 495. 550. 605. 660.]
Sales sorted in ascending order: [150 200 250 300 350 400 450 500 550 600]

In [46]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
print(df)

   Order_ID       Product     Category  Quantity  Price  Total_Amount  \
0      1001        Laptop  Electronics         2    700           NaN
1      1002  Mobile Phone  Electronics         1    500           NaN
2      1003    Headphones  Accessories         3     50           NaN
3      1004         Mouse  Accessories         2     20           NaN
4      1005      Keyboard  Accessories         1     30           NaN
5      1006       T-shirt     Clothing         4     15           NaN
6      1007        Jacket     Clothing         1     60           NaN
7      1008  Refrigerator  Electronics         1    900           NaN
8      1009            TV  Electronics         2   1100           NaN
9      1010         Shoes     Clothing         2     40           NaN

         Date
0  2024-02-01
1  2024-02-02
2  2024-02-03
3  2024-02-04
4  2024-02-05
5  2024-02-06
6  2024-02-07
7  2024-02-08
8  2024-02-09
9  2024-02-10

In [47]:
df.isnull()

   Order_ID  Product  Category  Quantity  Price  Total_Amount   Date
0     False    False     False     False  False          True  False
1     False    False     False     False  False          True  False
2     False    False     False     False  False          True  False
3     False    False     False     False  False          True  False
4     False    False     False     False  False          True  False
5     False    False     False     False  False          True  False
6     False    False     False     False  False          True  False
7     False    False     False     False  False          True  False
8     False    False     False     False  False          True  False
9     False    False     False     False  False          True  False

In [49]:
df.isna()

   Order_ID  Product  Category  Quantity  Price  Total_Amount   Date
0     False    False     False     False  False          True  False
1     False    False     False     False  False          True  False
2     False    False     False     False  False          True  False
3     False    False     False     False  False          True  False
4     False    False     False     False  False          True  False
5     False    False     False     False  False          True  False
6     False    False     False     False  False          True  False
7     False    False     False     False  False          True  False
8     False    False     False     False  False          True  False
9     False    False     False     False  False          True  False

In [52]:
df.fillna(0) # Handling missing values!

,Order_ID,Product,Category,Quantity,Price,Total_Amount,Date
0,1001,Laptop,Electronics,2,700,0.0,2024-02-01
1,1002,Mobile Phone,Electronics,1,500,0.0,2024-02-02
2,1003,Headphones,Accessories,3,50,0.0,2024-02-03
3,1004,Mouse,Accessories,2,20,0.0,2024-02-04
4,1005,Keyboard,Accessories,1,30,0.0,2024-02-05
5,1006,T-shirt,Clothing,4,15,0.0,2024-02-06
6,1007,Jacket,Clothing,1,60,0.0,2024-02-07
7,1008,Refrigerator,Electronics,1,900,0.0,2024-02-08
8,1009,TV,Electronics,2,1100,0.0,2024-02-09
9,1010,Shoes,Clothing,2,40,0.0,2024-02-10

In [54]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [57]:
df.dtypes

Order_ID          int64
Product          object
Category         object
Quantity          int64
Price             int64
Total_Amount    float64
Date             object
dtype: object

In [61]:
# Changing the datatype
df['Date'] = pd.to_datetime(df['Date'])

In [63]:
df.dtypes

Order_ID                 int64
Product                 object
Category                object
Quantity                 int64
Price                    int64
Total_Amount           float64
Date            datetime64[ns]
dtype: object

In [67]:
df['Quantity'] = df['Quantity'].astype(float) # conversion into floats
df.dtypes

Order_ID                 int64
Product                 object
Category                object
Quantity               float64
Price                    int64
Total_Amount           float64
Date            datetime64[ns]
dtype: object

In [72]:
data = np.array([10,12,23,43,12,32,100])

Q1 = np.percentile(data, 10)
Q3 = np.percentile(data, 45)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data < lower_bound) | (data > upper_bound)]

print("Outliers: ", outliers)

Outliers:  [ 43 100]