In [1]:
# Simple Dimple 
print("Hello brother!")

Hello brother!

In [5]:
# Variables

num1 = 12;
num2 = 77
name = "Brother"

print("Number 1: ", num1)
print(f"Number 2: {num2}")
print("Name: ", name)

x, y, z = "Orange", "Lavendar", "Pink"

a = b = c = "HKS"
print(x)
print(y)
print(z)
print(a)
print(b)
print(c)

Number 1:  12
Number 2: 77
Name:  Brother
Orange
Lavendar
Pink
HKS
HKS
HKS

In [6]:
# Data Type 
print(type(x))
print(type(num1))

<class 'str'>
<class 'int'>

In [1]:
# Taking input from the user
x = int(input("Enter num1: "))
y = int(input("Enter num2: "))

# Floor Division
print("Floor Division: ", x//y)
# Exponential
print("Exponential: ", x**y)

Enter num1:  77
Enter num2:  12

Floor Division:  6
Exponential:  43439888521963583647921

In [2]:
# Relational Operators

# Equal to
print("Is num1 equal to num2? ", x==y)

# Not equal to
print("Is num1 not equal to num2? ", x!=y)

#Greater than
print("Is num1 greater than num2? ", x>y)

#Less than
print("Is num1 less than num2? ", x<y)

#Greater than equal to
print("Is num1 greater than equal to num2? ", x>=y)

#Less than equal to
print("Is num1 less than equal to num2? ", x<=y)

Is num1 equal to num2?  False
Is num1 not equal to num2?  True
Is num1 greater than num2?  True
Is num1 less than num2?  False
Is num1 greater than equal to num2?  True
Is num1 less than equal to num2?  False

In [5]:
num = 10

num += 7
print(num)
num -= 2
print(num)
num *= 7
print(num)
num **= 2
print(num)
num //= 2
print(num)

17
15
105
11025
5512

In [6]:
# Logical Operator Demo

email = input("Enter your email: ")
password = input("Enter password: ")
print(email == "admin@gmail.com" and password == "admin@123")

Enter your email:  admin@gmail.com
Enter password:  admin@123

True

In [12]:
# Conditional Statements 

num = int(input("Enter number brother: "))

if num > 0:
    print("Positive number brother!")
elif num == 0:
    print("Zero brother!")
else:
    print("Negative number brother!")

Enter number brother:  0

Zero brother!

In [14]:
# Ternary (shorthand)

num = int(input("Enter number brother: "))
result = "Positive number bro!" if num > 0 else "Negative number bro!"
print(result)

Enter number brother:  12

Positive number bro!

In [15]:
# Nested If

num = int(input("Enter number brother: "))

if num > 0:
    if num % 2 == 0:
        print("Positive and even number bro!")
    else:
        print("Positive and odd number bro!")
else:
    print("Negative number bro!")

Enter number brother:  12

Positive and even number bro!

In [16]:
#pass - acts as placeholder for future code, avoids syntax errors

num = 9
if num > 0:
    pass
else:
    print("This won't execute.")

In [18]:
# Loops 
count = 1
print("While loop: ")
while count <= 5:
    print("Count: ", count)
    count += 1
print("\nFor loop: ")
for i in range(1, 6):
    print("Number: ", i)

While loop:
Count:  1
Count:  2
Count:  3
Count:  4
Count:  5

For loop:
Number:  1
Number:  2
Number:  3
Number:  4
Number:  5

In [22]:
#break demo
while(True):
    choice = int(input("break?"))
    if (choice):
        break

break? 0
break? 0
break? 1

In [5]:
# Functions 
def greet(name):
    print(f"Hello, {name}!")
greet("Brother")

# Multiple Parameters (with return value)
def add(a, b):
    return a + b
result = add(3, 5)
print(result)

# Default Parameters
def greet(name, greeting="Hello"):
    print(f"{greeting}, {name}!")
greet("Thala")
greet("HKS", "Hi")

Hello, Brother!
8
Hello, Thala!
Hi, HKS!

In [8]:
# Recursive Function
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

result = factorial(5)
print(result)

120

In [7]:
# Keyword Arguments
def describe_person(name, age, city):
    print(f"{name} is {age} years old and lives in {city}.")

describe_person(name="HKS", age=21, city="Shimla")
describe_person(city="Chandigarh", name="BRO", age=25)

HKS is 21 years old and lives in Shimla.
BRO is 25 years old and lives in Chandigarh.

In [11]:
def checkAdmin(email,password):
    if(email == "admin@gmail.com" and password == "admin@123"):
        print("Admin login successful.")
    else:
        print("Not Admin!\nTry again!")


email = input("Enter your email: ")
password = input("Enter password: ")

checkAdmin(email, password)

Enter your email:  admin@gmail.com
Enter password:  admin@123

Admin login successful.

In [31]:
# Sequence Demo
# List
mylist = [10,20,30,40,50,60,70]

print(mylist)
print(mylist[2])

mylist.append(77)
print(mylist)

# inserting at defined index
mylist.insert(2,43)
print(mylist)

# Inserting multiple elements
mylist.extend([33,42,5,6])
print(mylist)

#deleting elements
data = mylist.pop()
print(data, " is removed from the list!")

# checking length
print(len(mylist))
print("Maximum: ", max(mylist))
print("Minimum: ", min(mylist))
print("Summation: ", sum(mylist))

mylist.remove(50)
print(mylist)

[10, 20, 30, 40, 50, 60, 70]
30
[10, 20, 30, 40, 50, 60, 70, 77]
[10, 20, 43, 30, 40, 50, 60, 70, 77]
[10, 20, 43, 30, 40, 50, 60, 70, 77, 33, 42, 5, 6]
6  is removed from the list!
12
Maximum:  77
Minimum:  5
Summation:  480
[10, 20, 43, 30, 40, 60, 70, 77, 33, 42, 5]

In [29]:
# Checking membership
print(20 in mylist)

True

In [41]:
# Slicing
cars = ["Suzuki", "Honda", "BMW", "Mercedes", "Mahindra"]

print(cars[-1])

Mahindra

In [42]:
# Delete using index number
del cars[1]
print(cars)

['Suzuki', 'BMW', 'Mercedes', 'Mahindra']

In [43]:
# Looping lists
print("\nUsing For Loop : ")
for car in cars:
    print(car, end = "\t")
print("\n\nUsing While Loop : ")
i = 0
while i < len(cars):
    print(cars[i])
    i+=1

Using For Loop :
Suzuki	BMW	Mercedes	Mahindra

Using While Loop :
Suzuki
BMW
Mercedes
Mahindra

In [44]:
# sorting

cars.sort()
print(cars)

cars.sort(reverse=True)
print(cars)

cars.reverse()
print(cars)

['BMW', 'Mahindra', 'Mercedes', 'Suzuki']
['Suzuki', 'Mercedes', 'Mahindra', 'BMW']
['BMW', 'Mahindra', 'Mercedes', 'Suzuki']

In [46]:
# copying list

copy_cars = cars.copy()
print(copy_cars)


# Short way of creating list
squares = [x ** 2 for x in range(1,6)]
print(squares)

['BMW', 'Mahindra', 'Mercedes', 'Suzuki']
[1, 4, 9, 16, 25]

In [1]:
# Tuple

In [11]:
# creating tuple
cars = ('BMW', 'Mahindra', 'Mercedes', 'Suzuki')
print(cars)

flights = ("Garuna")
print(flights)
print(type(flights))

# single element tuple (comma is neccessary!)
flights = ("Garuna",)
print(flights)

('BMW', 'Mahindra', 'Mercedes', 'Suzuki')
Garuna
<class 'str'>
('Garuna',)

In [12]:
# Typecasting

numbers_tuple = (10,20,30,40)
numbers_list = list(numbers_tuple)

numbers_list.append(77)

numbers_tuple = tuple(numbers_list)
print(numbers_tuple)

(10, 20, 30, 40, 77)

In [15]:
# Tuple concatenation
commercialFlights = ("Boing 250", "6E")

concat = flights + commercialFlights
print(concat)

new_tuple = ("temp",) * 7
print(new_tuple)

('Garuna', 'Boing 250', '6E')
('temp', 'temp', 'temp', 'temp', 'temp', 'temp', 'temp')

In [19]:
# Dictionary

employee = {"eid": 1001,
           "name": "HKS",
            "department": "CS",
            "salary": 10000000
           }

print(employee)
print("Employee Id: ", employee['eid'])
print("Employee Name: ", employee.get("name"))

{'eid': 1001, 'name': 'HKS', 'department': 'CS', 'salary': 10000000}
Employee Id:  1001
Employee Name:  HKS

In [21]:
# Iteration in dictionary
employee = {"eid": 1001,
           "name": "HKS",
            "department": "CS",
            "salary": 10000000
           }
for key in employee:
    print(key, ": ", employee[key])

eid :  1001
name :  HKS
department :  CS
salary :  10000000

In [24]:
print(employee.items())

dict_items([('eid', 1001), ('name', 'HKS'), ('department', 'CS'), ('salary', 10000000)])

In [26]:
for key, value in employee.items():
    print(key, ": ", value)

eid :  1001
name :  HKS
department :  CS
salary :  10000000

In [28]:
if "name" in employee:
    print("Name is present in employee object")

Name is present in employee object

In [54]:
# Set - unique (no duplicates), unordered, mutable
# creating set
myset = {404, 200, 500, 302, 403, 500}
print(myset)

{403, 404, 500, 200, 302}

In [55]:
# Iteration
for num in myset:
    print(num)

403
404
500
200
302

In [56]:
# adding an element
myset.add(501)
print(myset)

# adding multiple values
myset.update([303,402])
print(myset)

{403, 404, 500, 501, 200, 302}
{402, 403, 404, 500, 501, 200, 302, 303}

In [57]:
# Removal of elements
myset.remove(403)
print(myset)
myset.pop()
print(myset)

{402, 404, 500, 501, 200, 302, 303}
{404, 500, 501, 200, 302, 303}

In [58]:
# Discarding elements
myset.discard(302) # shows no error if the element is not present in the set, remove() shows error otherwise.
print(myset)

{404, 500, 501, 200, 303}

In [59]:
myset.clear()
print(myset)

set()

In [60]:
myset.update([1,2,3,4,5,6,7])
print(myset)

{1, 2, 3, 4, 5, 6, 7}

In [61]:
A = {1,2,3,4,5}
B = {4, 5, 6, 7, 8}

# Union
print(A | B)
print(A.union(B))

# Intersection
print(A & B)
print(A.intersection(B))

# Difference
print(A - B)
print(A.difference(B))

# Symmetric Difference
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [ ]:
employees = {
    "emp1": {"Harikesh": 100000},
    "emp2": {"Hariom": 80000},
    "emp3": {"Hrishikesh": 75000}
}

def add_employee(emp_id, name, salary):
    employees[emp_id] = {name: salary}
    print(f"Added {name} with a salary of {salary}.")

def update_employee(emp_id, name, salary):
    if emp_id in employees:
        employees[emp_id] = {name: salary}
        print(f"Updated {name}'s salary to {salary}.")
    else:
        print(f"Employee ID {emp_id} not found.")

def remove_employee(emp_id):
    if emp_id in employees:
        del employees[emp_id]
        print(f"Removed employee with ID {emp_id} from the employee list.")
    else:
        print(f"Employee ID {emp_id} not found.")

def display_employees():
    print("Employee Salaries:")
    for emp_id, details in employees.items():
        for name, salary in details.items():
            print(f"{emp_id}: {name} - {salary}")

while True:
    print("\nEmployee Management System")
    print("1. Add a new employee")
    print("2. Update an employee's salary")
    print("3. Remove an employee")
    print("4. View all employees")
    print("5. Exit")
    choice = input("Enter your choice (1-5): ")

    if choice == '1':
        emp_id = input("Enter the employee ID: ")
        name = input("Enter the employee's name: ")
        salary = int(input("Enter the employee's salary: "))
        add_employee(emp_id, name, salary)
    elif choice == '2':
        emp_id = input("Enter the employee ID: ")
        name = input("Enter the employee's name: ")
        salary = int(input("Enter the new salary: "))
        update_employee(emp_id, name, salary)
    elif choice == '3':
        emp_id = input("Enter the employee ID to remove: ")
        remove_employee(emp_id)
    elif choice == '4':
        display_employees()
    elif choice == '5':
        print("Exiting the Employee Management System. Goodbye!")
        break
    else:
        print("Invalid choice. Please enter a number between 1 and 5.")